.admin-sidenav {
  width: 250px;
  padding: 10px;
}

.active-link {
  font-weight: bold;
  background-image: linear-gradient(to right, #3b82f6 , #8b5cf6 , #f87171);
}

.admin-container {
  background-color: #2e3031;
  color: white;
}
