::ng-deep .mat-mdc-cell,
::ng-deep .mat-mdc-header-cell,
::ng-deep .mat-mdc-paginator-container,
table {
  background-color: #2e3031 !important;
  color: white !important;
}

::ng-deep .mat-mdc-paginator-touch-target,
::ng-deep .mat-mdc-select-value {
  color: white !important;
}
