<h1 mat-dialog-title>Edit User Role</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="pt-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of availableRoles" [value]="role">{{
          role | titlecase
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('roles')?.hasError('required')">
        At least one role must be selected.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!userForm.valid">Save</button>
</div>
